*{
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(image/patt.png);
	font-size: 21px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}

.logo{
	padding: 4px;
}
.header {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px 0;
}
.menu li {
	float: left;
	height: 50px;
	width: 25%;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu li:hover a {
	background-color: #2c71b8;
	color: white;
}
.menu a {
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
}

.submenu {
	position: absolute;
	display: none;
	margin-left: -1px;
}
.submenu li{
	position: relative;
	float: none;
	height: 40px;
	width: 100%;
	border: none;
}
.submenu a {
	text-align: left;
	height: 40px;
    line-height: 40px;
    padding: 0 21px 0 30px;
}

.menu li:hover .submenu {
	display: block;
}
.submenu li:hover a {
	background-color: white;
	color: #2c71b8;
}

.col-md-2 {
	width: 80%;
	padding: 0;
}
.col-md-1 {
	width: 20%;
	padding: 0;
}
.search_field {
	border: 1px solid #2c71b8;
	height: 40px;
	width: 200px;
	margin: 5px 0;
	text-align: center;
	line-height: 40px;

}
.search_field input[type="search"] {
	border: none;
	outline: none;
	font-size: 21px;
	width: 150px;
	color: #2c71b8;
	background-color: rgba(255, 255, 255, 0);
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none; 
}
input::-webkit-input-placeholder { 
	color: #2c71b8;
}

.search_field input[type="submit"] {
	background: url(image/magnifier.png) no-repeat 50% 50%;
	background-color: #2c71b8;
	border: none;
	height: 30px;
	width: 30px;
	display: block;
	float: right;
	margin: 4px;
}

.cart_field {
	height: 50px;
	float: right;
}
.counter {
	position: absolute;
	background-color: #2c71b8;
	color: white;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	z-index: 10;
	margin: -7px;
}
.cart {
	position: relative;
	height: 40px;
	width: 40px;
	background: url(image/basket.png) no-repeat 50% 50%;
	background-color: white;
	margin: 5px 0 0 5px;
}

.slider {
	height: 400px;
	border: 1px solid #ffffff;
	border-left: none;
	border-right: none;
	text-align: center;
	line-height: 400px;
	background-color: rgba(0, 0, 0, 0.2);
}
.left_sidebar {
	height: 100vh;
}

.pointing_navigation {
	height: 120px;
}
.pointing_navigation a{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	line-height: 3.2;
}

.pointing_navigation a:hover {
	text-decoration: underline;
}
h1 {
	font-size: 48px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
}

.filter {
	height: 120px;
}
.bar {
	height: 40px;
	border: 1px solid white;
	background-color: #2c71b8;
	color: rgb(255, 255, 255);
	padding: 8px 20px;

}

.img {
	background-color: rgba(255, 255, 255, 0.75);
	height: 180px;
	text-align: center;
	line-height: 180px; 
}
.img img {
	vertical-align: middle;
}
.description {
	border: 1px solid rgb(255, 255, 255);
	background-color: rgba(44, 113, 184, 0.749);
	height: 470px;
	padding: 15px;
}
.description p {
	font-size: 22px;
	color: rgb(255, 255, 255);
	line-height: 1.3;
}
.description span {
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.5;
}

h2{
	font-size: 48px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	line-height: 1.4;
}
h3 {
	font-size: 30px;
  	color: rgb(255, 255, 255);
  	font-weight: bold;
  	line-height: 1.2;
}
sup { 
	vertical-align: baseline; 
	position: relative; 
	top: -20px;
	font-size: 24px; 
}

.description button {
	width: 210px;
	height: 50px;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0);
	color: rgb(255, 255, 255);
	font-size: 22px;
	text-align: center;
	margin: 13px 14px;
	font-weight: bold;
	text-transform: uppercase;
}

/*body { 
    border-radius: 10px;
    height: 230px;
    background-color: #4e9ad5;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: 15px 15px;
    background-image: linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), 
                      linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px), 
                      linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px), 
                      linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
  
}*/  
#_1_Device_Name_Lorem_ipsum_dolor_sit_amet__conse {
  font-size: 30px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 690px;
  top: 855.068px;
  width: 220px;
  height: 213px;
  z-index: 64;
}





